<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </p>
  <p>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
