<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets_presenter.each do |pet| %>
      <tr>
        <td><%= pet.name %> <%= pet.breed %></td>
        <td><%= PetsHelper.display_name(pet) %></td>
        <td><%= pet.display_name %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
